.center{
	margin-left: auto;
	margin-right: auto;
}
.width{
	width: 100%;
}

.header {
	padding: 80px;
	text-align: center;
	background-image: url(../images/headerpic.jpg);
	background-size: cover;
	background-position: top;

	color: black;
	font-size: 6vw;
	font-weight: bold;
	position: fixed;  /*Fixed position - sit on top of the page */
	top: 1;
	width: 100vw; /* Full width */
	/*height: 15vw;*/
	transition: 0.3s;
	padding-bottom: 1px;
	/*border-bottom-width: 100px;*/
}


#Timetable {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	/*width: 100vw;*/
}

#Timetable td, #Timetable th {
	border: 1px solid #ddd;
	padding: 16px;
}

#Timetable tr:nth-child(even){background-color: #f2f2f2;}

#Timetable tr:hover {background-color: #ddd;}

#Timetable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #04AA6D;
	color: white;
}

.anchor {
	display: block;
	position: relative;
	top: 150px;
	/*visibility: hidden;*/
}



@media only screen and (max-width: 768px) {
	.header {
		position: relative;
	}
	#desktop{
		display: block;
		visibility: hidden;
	}

}
@media only screen and (min-width: 769px){
	#container{
		padding-top:20vw;
		/*margin-top: -200px;*/
	}
		#mobile{
		display: block;	
		visibility: hidden;
	}
}
